.classpath
.settings
.project
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
nomoretools-frontend/.project
nomoretools-frontend/.settings
nomoretools-frontend/frontend/.idea
nomoretools-frontend/frontend/.project
nomoretools-frontend/frontend/.settings
nomoretools-frontend/frontend/build
nomoretools-frontend/frontend/dist
nomoretools-frontend/frontend/node_modules
nomoretools-frontend/frontend/report
nomoretools-frontend/frontend/src/app/**/*.js
nomoretools-frontend/frontend/src/app/**/*.js.map
nomoretools-frontend/frontend/src/test/**/*.js
nomoretools-frontend/frontend/src/test/**/*.js.map
nomoretools-frontend/frontend/src/tmp
nomoretools-frontend/frontend/src/target
nomoretools-frontend/frontend/typings
nomoretools-frontend/server/src/main/resources/public
nomoretools-frontend/server/docker/build
