nomoretools-frontend/.project
nomoretools-frontend/.settings
nomoretools-frontend/build
nomoretools-frontend/dist
nomoretools-frontend/node_modules
nomoretools-frontend/report
nomoretools-frontend/src/tmp
nomoretools-frontend/typings
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
